/* phone */
@media only screen and (max-width: 600px) {

    h1 {
        font-size: 32px;
    }

    p {
        font: 16px;
    }

    /* nav bar */
    .nav-bar__logo {
        order: 2;
    }

    .nav-bar__login {
        order: 4;
    }

    .nav-bar__nav {
        order: 3;
    }

    .nav-bar__nav {
        position: absolute;
        top: 80px;
        background: #003087;
        width: 100vw;
        height: 100vh;
        opacity: .9;
        display: none;
    }

    .nav-bar__nav ul {
        background: #003087;
        display: flex;
        flex-direction: column;
    }

    .nav-bar__nav ul li {
        cursor: pointer;
    }

    .nav-bar__nav ul li a {
        font-size: 14px;
    }

    .hambarger-menu {
        color: #fff;
        border: 1px solid #fff;
        padding: 13px 20px;
        border-radius: 30px;
        display: flex;
        font-size: .85rem;
        align-items: center;
        justify-content: center;
        height: 40px;
        margin: 24px 6px 14px 24px;
        order: 1;
        position: relative;
    }

    .hambarger-menu p {
        margin-left: 16px;
    }

    .hambarger-menu::before {
        border: 1px solid #fff;
        content: "";
        width: 14px;
        position: absolute;
        top: 14px;
        left: 12px;
    }

    .hambarger-menu::after {
        border: 1px solid #fff;
        content: "";
        width: 14px;
        position: absolute;
        top: 22px;
        left: 12px;
    }

    a.nav-bar__login-siup {
        display: none;
    }

    .nav-bar__login {
        justify-content: end;
        margin-right: 24px;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        z-index: 2;
    }

    .active {
        display: block;

    }

    /* banner */
    .banner {
        display: flex;
        flex-direction: column;
    }

    .btn-bannner {
        width: 180px;
    }

    .btn-bannner a {
        padding: 6px 10px;
    }

    .personal-business p {
        font-size: 16px;
    }





    /* Users */

    .users__header {
        font-size: 30px;
        text-align: center;
    }

    .users__content {
        display: flex;
        flex-direction: column;
    }

    .box__content-message {
        width: 99%;
    }

    .sign_up-heading {
        font-size: 25px;
        font-weight: bold;
    }

    .sign_up-button-link {
        width: 195px;
        padding: 10px 5px;
    }



    /* footer */
    .footer-top {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 0px 10px;
    }

    .footer-bottom {
        flex-direction: column;
        margin-bottom: 80px;
    }

    .footer-bottom .top-left {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px;
    }

    .top-left ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .top-left ul li {
        padding: 0 6px;
    }


    .bottom-left ul {
        display: flex;
        flex-wrap: wrap;
        /* align-items: flex-end; */
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

        /* artur, servise section */

    .block-title {
        font-size: 30px;
    }

    .service__block-content {
        margin-top: 20px;
    }

    .block-content__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .block-content__item {
        width: 85%;
        margin-left: 0px;
    }

    .block-content__img {
        margin: 15px 0 15px;
    }

    .block-content__btn {
        margin: 10px 0 20px;
    }

    .block-product__list {
        flex-direction: column;
        align-items: center;
    }

    .block-product__item {
        width: 85%;
    }

    .block-product__desc {
        align-items: baseline;
    }


        /* artur, servise section */    
    .block-title {
        font-size: 30px;
    }    
    .service__block-content {
        margin-top: 20px;
    }

    .block-content__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .block-content__item {
        width: 85%;
        margin-left: 0px;
    }

    .block-content__img {
        margin: 15px 0 15px;
    }

    .block-content__btn {
        margin: 10px 0 20px;
    }

    .block-product__list {
        flex-direction: column;
        align-items: center;
    }

    .block-product__item {
        width: 85%;
    }

    .block-product__desc {
        align-items: baseline;
    }
}    

@media only screen and (max-width: 768px) {
    .block-title {
        font-size: 35px;
    }

    .service__block-content {
        margin-top: 25px;
    }

    .block-content__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .block-content__item {
        width: 50%;
        margin-left: 0;
        padding: 0 10px;
    }

    .block-content__img {
        margin: 25px 0 55px;
    }

    .block-content__btn {
        margin: 15px 0 25px;
    }

    .block-product__list {
        flex-direction: column;
        align-items: center;
    }

    .block-product__item {
        width: 85%;
    }

    .block-product__desc {
        align-items: baseline;
    }
}


    /* Porttait tablate */
    @media only screen and (min-width: 600px) {}

    /*LandScap Tablate */
    @media only screen and (min-width: 768px) {}

    /* desktop */
    @media only screen and (min-width: 992px) {}

    /* large desktop */
    @media only screen and (min-width: 1200px) {}